<footer class="footer">
  <div class="footer__container">
      <section>
        <h2 class="footer__title">Sobre</h2>
        <p class="footer__about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptates error libero fugiat sequi asperiores obcaecati voluptatum a similique odit debitis saepe maxime eos aperiam molestiae accusantium, eius delectus pariatur?
        </p>
      </section>
      <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
          <li><i class="fa fa-solid fa-envelope"></i> email@email.com</li>
          <li><i class="fa fa-solid fa-phone"></i> (83) 0000-0000</li>
          <li><i class="fa fa-brands fa-whatsapp"></i> (83) 9 0000-0000</li>
        </ul>
      </address>
  </div>
  <section class="footer__copyright">
      &copy; Todos os direitos reservados
  </section>
</footer>
